body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5a623, #f56c42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #f56c42;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #f5a623;
}


#wght{
   padding: 10px;
   margin-bottom: 10px;
}

#hght{
    padding: 10px;
    margin-bottom: 10px;
 
 }